<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <div class="card" style="width:400px">
      <%= image_tag "12.jpg" %>
      <div class="card-body">
        <h4 class="card-title"><%= @author.name %></h4>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
  </div>
  <div class="card-body">
    <button data-toggle="collapse" data-target="#demo1">History</button>
    <div id="demo1" class="collapse">
      Here could be his biography
    </div>
    </div>
  <div class="card-footer">
    <button data-toggle="collapse" data-target="#demo">Show books author</button>
    <div id="demo" class="collapse">
      <% @author.books.each do |boo| %> 
          <div class="field"> 
            <%= boo.title %> 
          </div> 
      <% end %>
    </div>
  </div>
</div>
</div>
<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Back', authors_path %>
